body {
    background: rgb(55, 20, 24);
    color: rgb(212, 195, 125);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

nav {
    background: rgb(64, 1, 1);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(145, 103, 20);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

main {
    background: rgb(33, 19, 2);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

nav {
  background: #fffcc4;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

body {
  background: #cca275;
  color: #fbc093;
}

nav {
  background: #ffe5b9;
}

a {
  color: #000000;
}